
body{
    font-family: 'Roboto', sans-serif;
}
.first-sec p{
    padding-bottom: 50px;
}
.first-sec{
    text-align: center;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    color:rgb(204, 206, 207);
    height: 500px;
    margin: 0px;
    padding-top:150px;
    padding-left: 250px;
    padding-right: 250px;
    

}
.first-sec h1{
    font-size:50px;
}
.first-sec a{
    
    color:azure;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border: 5px solid tomato;
    border-radius: 5px;
}







.second-sec h1{
    font-size: 40px;
}
#amount-input{
    margin-top: 50px;
    
    width:70%;
    border: 0;
    outline: 0;
    
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;

}
.second-sec{
    text-align: center;
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
}

.second-sec a{
    
    color:azure;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border: 5px solid tomato;
    border-radius: 5px;
}

.flex-cont{
    
    display: flex;
}
.flex-cont div{
    color: rgb(65, 62, 59);
    border-radius: 5px;
    background-color: aliceblue;
    padding: 0px 18px 0px 18px;
    border: 1px solid aliceblue;
    margin:10px
    
    
}
.second-sec h1{
    font-size: 35px;
}
#tk500{
    border: 2px solid tomato;
    color:rgb(248, 92, 64);
    background-color: rgb(209, 180, 185);
}

.third-sec {

}
.flex-cont2{
    
    display: flex;
}
.flex-cont2 div{
    
    color: rgb(45, 36, 27);
    border-radius: 5px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding:50px 20px;
    margin:10px
    
}
