
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.first-sec p{
    padding-bottom: 50px;
}
.first-sec{
    text-align: center;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    color:rgb(231, 239, 243);
    height: 500px;
    margin: 0px;
    padding-top:150px;
    padding-left: 250px;
    padding-right: 250px;
    

}
.first-sec h1{
    font-size:50px;
}
.first-sec a{
    
    color:azure;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border: 5px solid tomato;
    border-radius: 5px;
}







.second-sec h1{
    font-size: 40px;
}
#amount-input{
    margin-top: 50px;
    
    width:70%;
    border: 0;
    outline: 0;
    
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;

}
.second-sec{
    text-align: center;
    padding-left: 200px;
    padding-top: 100px;
    padding-right: 200px;
}

.second-sec a{
    
    color:azure;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border: 5px solid tomato;
    border-radius: 5px;
}

.flex-cont{
    
    display: flex;
}
.flex-cont div{
    color: rgb(65, 62, 59);
    border-radius: 5px;
    background-color: aliceblue;
    padding: 0px 18px 0px 18px;
    border: 1px solid aliceblue;
    margin:10px
    
    
}
.second-sec h1{
    font-size: 40px;
}
#tk500{
    border: 2px solid tomato;
    color:rgb(248, 92, 64);
    background-color: rgb(209, 180, 185);
}


.flex-cont2{
    
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.third-sec h1{
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    font-size: 40px;
}
#para{
    text-align: center;
    margin:0px 180px 70px 180px
    
}
.flex-cont2 div{
    
    
    color: rgb(45, 36, 27);
    border-radius: 5px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    padding:50px 20px;
    margin:10px
    
}
#div1{
    background-color: rgb(230, 246, 251);
}
#div2{
    background-color: rgb(254, 225, 230);
}
#div3{
    background-color: rgb(250, 250, 222);
}
.fourth-sec{
    display: flex;
    
    
}
.half-width{
    width: 50%;
}
.half-width img{
    margin-left: 150px;
    width: 100%;
    height:25em;
    width:25em;
    
}

#sec4{
    margin-left: 50px;
    margin-top: 100px;
}
#sec4 h1{
    font-size: 40px;
}

.fourth-sec a{
    
    color:azure;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border: 5px solid tomato;
    border-radius: 5px;
}
.sub{
    
    text-align: center;
    border: 1px solid rgb(244, 224, 159);
    display: flex;
    background-color: rgb(244, 224, 159);
    border-radius: 5px;
    padding-top: 70px;
    padding-bottom: 70px;    
    padding-left: 150px;
    margin-left: 300px;
    margin-right:300px

    
}
#fifth{
    margin-top: 100px;
    text-align: center;
}
#fifth h1{
    font-size: 40px;
}
#fifth p{
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.sub input{
    border:0;
    padding: 10px 80px 10px 5px;
    background-color: rgb(202, 200, 200);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.sub button{
    border:0;
    color: white;
    padding: 10px 40px 10px 35px;
    background-color: rgb(225, 78, 52);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
    
}
.foot{
    margin-top: 100px;
    color: white;
    text-align: center;
    background-color: black;
    padding-top:50px;
    padding-bottom: 50px;
}
.foot h1{
    font-family: 'Splash', cursive;
}